<div ng-controller="referralsController">
    <div class="wrapper-md" >
        <div class="row" ui-view>
            
            <div class="col-sm-10" >

                <div class="panel panel-default">
                    <div class="panel-heading col-sm-12">
                        <div class="col-sm-7" style="padding-left: 0px">
                        Дијагнози
                        <span class="label bg-danger  m-t-xs">{{ allReferrals.length }}</span>
                            </div>
                        <div class="col-sm-5">

                            <input type="text" class="  form-control" ng-model="refferalsFilter" placeholder="Пребарај..">
                        </div>

                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                            <tr>
                                <th>Дата на издавање</th>
                                <th>Доктор</th>
                                <th>Дијагноза</th>
                                <th>Акции</th>
                                <!--<th style="width:30px;"></th>-->
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="referral in allReferrals | filter : refferalsFilter">

                                <td>{{referral.createdAt | date : format : timezone }} </td>
                                <td>{{referral.patient.primaryDoctor.firstName }} {{referral.patient.primaryDoctor.lastName }}</td>
                                <td>{{referral.diagnosis }} </td>
                                <td><button class="btn btn-info" ng-click="showDiagnosisDetails(referral)">ПРИКАЖИ ДЕТАЛИ</button> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
