<div ng-controller="referralsController">
    <div class="wrapper-md" >
        <div class="row" ui-view>
            
            <div class="col-sm-10" >

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Упати
                        <span class="label bg-danger  m-t-xs">{{ allReferrals.length }}</span>
                    </div>

                    <div class="row wrapper">

                        <div class="col-sm-4">

                        </div>
                        <div class=" pull-right col-sm-3">

                            <input type="text" class="  form-control" ng-model="hospitalFilter" placeholder="Пребарај..">


                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                            <tr>
                                <th>Број на упат</th>
                                <th>Издаден од доктор</th>
                                <th>До доктор</th>
                                <th>Дијагноза</th>
                                <!--<th style="width:30px;"></th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="referral in allReferrals">
                                <td>{{referral.term }}</td>
                                <td>{{referral.from_doctor.firstName + " " +referral.from_doctor.lastName  }}</td>
                                <td>{{referral.to_doctor.firstName + " " +referral.to_doctor.lastName }}</td>
                                <td>{{referral.diagnosis  ? referral.diagnosis.discription  : " " }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">

                            <div class="col-sm-4 text-center">
                                <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                            </div>
                            <div class="col-sm-4 text-right text-center-xs">
                                <ul class="pagination pagination-sm m-t-none m-b-none">
                                    <li><a href><i class="fa fa-chevron-left"></i></a></li>
                                    <li><a href>1</a></li>
                                    <li><a href>2</a></li>
                                    <li><a href>3</a></li>
                                    <li><a href>4</a></li>
                                    <li><a href>5</a></li>
                                    <li><a href><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
