<div ng-controller="patientsController">
    <div class="row">
        <div class="col-sm-10" style="margin: auto">
            <div class="panel panel-info">
                <div class="panel-heading font-bold">Форма за внесување нов пациент</div>
                <div class="panel-body">
                    <form novalidateb name="editHospitalForm">
                        <div class="form-group">
                            <labell>Име на болница *</labell>
                            <input required type="text" ng-model="hospital.name" class="form-control"
                                   placeholder="Име на болница">
                        </div>
                        <div class="form-group">
                            <labell>Адреса * </labell>
                            <input required type="text" ng-model="hospital.address" class="form-control"
                                   placeholder="Адреса на болница">
                        </div>
                        <div class="form-group">
                            <labell>Град на  болница *</labell>
                            <input required type="text" ng-model="hospital.city" class="form-control"
                                   placeholder="Град на болница">
                        </div>


                        <!--<button type="submit" class="btn btn-sm btn-info pull-right" ng-disabled="newHospitalForm.$invalid" ng-click="addHospital(hospital)">Додади</button>-->
                        <button type="submit" class="btn btn-sm btn-info pull-right" ng-disabled="editHospitalForm.$invalid" ng-click="updateHospital()">Зачувај промени</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>