<div  >
    <div class="row">
        <div class="col-sm-10" style="margin: auto">
            <div class="panel panel-info">
                <div class="panel-heading font-bold">Форма за внесување дијагноза </div>
                <div class="panel-body">
                    <form novalidate>
                        <div class="form-group">
                            <labell>Дата на издавање на дијагнозата</labell>
                            <input type="date" ng-model="diagnosis.data" class="form-control"
                                   placeholder="Дата на издавање на дијагнозата">
                        </div>
                        <div class="form-group">

                            <labell>Пациент</labell>
                            <select ng-model="diagnosis.patient.id"
                                    ng-options="pacient.id as pacient.firstName  for pacient in allPacientsForDoctor"></select>
                        </div>
                        <div class="form-group">

                            <labell>Дијагноза</labell><br>
                           <textarea ng-model="diagnosis.diagnosis" rows="10" class="form-control" >


                           </textarea>
                        </div>


                        <button class="btn btn-info" ng-click="prscription=!prscription">Додади рецепта</button>



                        <div class="form-group" ng-show="prscription==true">
                            <br>                            <br>

                            <label>Додади лек во рецептата:</label>


                            <select ng-model="data.medId"
                                    ng-options="medication.id as medication.name  for medication in allMedications"></select>


                        </div>





                        <button type="submit" class="btn btn-sm btn-info pull-right"  ng-click="addDiagnosis(diagnosis, data.medId)">Потврди</button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>