<div ng-controller="doctorPanelController">
    <div class="wrapper-md">
        <div class="row" ui-view>

            <div class="col-sm-10" >
                <div class="panel panel-default">
                    <div class="panel-heading col-sm-12">
                        <div class="col-sm-7" style="padding-left: 0px">
                            Закажани прегледи
                            <span class="label bg-danger  m-t-xs">{{ allAppointmentsForDoctor.length}}</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class=" form-control" ng-model="appointmentsFilter" placeholder="Пребарај..">
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                            <tr>
                                <th>Пациент</th>
                                <th>Датум</th>
                                <th>Од</th>
                                <th>До</th>
                                <th>Акции</th>
                                <!--<th style="width:30px;"></th>-->
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="appointment in allAppointmentsForDoctor | filter: appointmentsFilter">
                                <td>{{appointment.patient.firstName + " " +appointment.patient.lastName }}</td>
                                <td>{{appointment.date  |  date : format : timezone  }}</td>
                                <td>{{appointment.timeSlot.startTime }}</td>
                                <td>{{appointment.timeSlot.endTime }}</td>

                                <td> <butoon class="btn btn-info" ng-click="enterDiagnosis(appointment)">ВНЕСИ ДИЈАГНОЗА</butoon>
                                    &nbsp;<butoon class="btn btn-danger" ng-click="cancelAppointment(appointment.id)">ОТКАЖИ</butoon></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
