<button class="btn btn-danger pull-right" ng-click="logout()" style="margin:15px;">LOGOUT</button>
<!-- menu -->

<div class="app-aside hidden-xs bg-dark " >
    <div class="aside-wrap">
        <div class="navi-wrap">


            <!-- list -->
            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs ">
                    <span></span>
                </li>
                <li ui-sref="doctor.info" ui-sref-active="active" class="active">
                    <a href class="auto">

                      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
                      <span class="font-bold" >Лични информации</span>
                    </a>
                </li>
                <li  ui-sref="doctor.appointments">
                    <a>
                        <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
                        <span class="font-bold" >Прегледи</span>
                    </a>
                </li>
                <li  ui-sref="doctor.referrals">
                    <a>
                        <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
                        <span class="font-bold" >Упати</span>
                    </a>
                </li>
                <li  ui-sref="doctor.patients">
                    <a>
                        <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
                        <span class="font-bold" >Пациенти</span>
                    </a>
                </li>




            </ul>

            <!-- / list -->


        </div>


    </div>
</div>
<!-- / menu -->
<div ui-view > </div>

</div>


