<div >
    <div class="row">
        <div class="col-sm-10 wrapper" style="margin: auto">
            <div class="panel panel-info">
                <div class="panel-heading font-bold">Форма за регистрација</div>
                <div class="panel-body">
                    <form novalidate>
                        <div class="form-group">

                            <label><b>Код за идентификација</b> <i>{{doctor.username}}</i></label><br>

                            <label><b>Единствен матичен број</b> <i>{{ doctor.umcn }}</i></label> <br>
                            <label><b>Болница</b> <i>{{doctor.hospital.name}}</i></label>
                            <!--<input type="text" ng-model="doctor.username" class="form-control" placeholder="Број на е-картичка">-->
                        </div>
                        <div class="form-group">
                            <labell>Име</labell>
                            <input type="text" ng-model="doctor.firstName" class="form-control"
                                   placeholder="Корисничко име">
                        </div>
                        <div class="form-group">
                            <label>Презиме</label>
                            <input type="text" ng-model="doctor.lastName" class="form-control" placeholder="Презиме">
                        </div>


                        <div class="form-group">
                            <label>Професија</label>

                            <select ng-model="doctor.specialization.id"
                                    ng-options="specialization.id as specialization.name for specialization in allSpecializations"></select>
                        </div>

                        <div class="form-group">
                            <label>Е-меил</label>
                            <input type="email" ng-model="doctor.email" class="form-control" placeholder="Е-меил">
                        </div>



                        <div class="form-group">
                            <label>Дата на раѓање</label>
                            <input type="text" ng-model="doctor.birthDate" class="form-control"
                                   placeholder="Дата на раѓање">
                        </div>
                        <div class="form-group">
                            <label>Пол</label>

                            <select ng-model="doctor.gender"
                                    ng-options="gender.id as gender.name for gender in genders"></select>
                        </div>

                        <div class="form-group">
                            <label>Град</label>
                            <input type="text" ng-model="doctor.city" class="form-control" placeholder="Град">
                        </div>
                        <div class="form-group">
                            <label>Држава</label>
                            <input type="text" ng-model="doctor.country" class="form-control" placeholder="Држава">
                        </div>

                        <div class="form-group">
                            <label>Адреса на живеење</label>
                            <input type="text" ng-model="doctor.address" class="form-control" placeholder="Адреса на живеење">
                        </div>

                        <div class="form-group">
                            <label>Поштенски код</label>
                            <input type="text" ng-model="doctor.postCode" class="form-control" placeholder="Поштенски код">
                        </div>




                        <button type="submit" class="btn btn-sm btn-info pull-right"  ng-click="updateDoctor(doctor)">Зачувај промени</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>