<div >
    <div class="wrapper-md">
        <div class="row" ui-view>


            <div class="col-sm-10" >



                <div class="panel panel-default">
                    <div class="panel-heading">

                        ДИЈАГНОЗА
                    </div>

                    <div class=" wrapper">
                        Дијагноза:
                       <p> <i> <b>{{ currentDiagnosis.diagnosis}}</b> </i></p>

                        Дијагнозата е внесена на дата   <b> {{ currentDiagnosis.createdAt }}  </b> од доктор  <b> {{currentDiagnosis.doctor.firstName }} {{currentDiagnosis.doctor.lastName }} </b>


                    </div>
                    <div >

                    </div>
                    <footer class="panel-footer">
                            <i>Дијагноза за пациент</i>
                    </footer>
                </div>
            </div></div>
    </div>
</div>
</div>